@using io_book_project.ViewModels
@model AuthorsPageViewModel
@{
    ViewData["Title"] = "Authors Page";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left ps-5"> 
                <h3>@Model.Names @Model.Surname</h3>
                <p>Data urodzenia: @Model.DateOfBirth</p>
                @if (Model.DateOfDeath != null && Model.DateOfDeath != "")
                {
                    <p>Data śmierci: @Model.DateOfDeath</p>
                }
                <p>Narodowość: @Model.Nationality</p>
        </div>
    </div>
</div>
    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left ps-5">
                    <h4>Książki wydane przez autora:</h4>
                    <h5>
                        @foreach (var book in Model.Books)
                        {
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="BookPage" asp-route-id="@book.Id">
                                        <p>
                                            @book.Title
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        }
                    </h5>
                </div>
            </div>
        </div>
    </div>
