@using io_book_project.ViewModels
@model AuthorsPageViewModel
@{
    ViewData["Title"] = "Authors Page";
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left ps-5"> 
                <h3>@Model.Names @Model.Surname</h3>
                <p>Data urodzenia: @Model.DateOfBirth</p>
                @if (Model.DateOfDeath != null && Model.DateOfDeath != "")
                {
                    <p>Data śmierci: @Model.DateOfDeath</p>
                }
                <p>Narodowość: @Model.Nationality</p>

                <h3>Coś jeszcze</h3>
                <p>ciuf ciuf</p>
                Me gusta tocar guitarra </br>
                me gusta cantar el son </br>
                Mariachi me acompañan </br>
                cuando canto mi canción </br>
                </br></br>
                Me gusta tomar mis copas </br>
                aguardiente es lo mejor </br>
                También el tequila </br>
                blanco con su sal de la sabor </br>
                </br></br>
                Ay ay ay ay </br>
                ay mi amor </br>
                Ay mi morena </br>
                de mi corazón</br>
            </div>
            <div class="col-md-6 text-center">
                <h4>Liczba napisanych książek</h4>
                <p>404</p>
                <h4>Ogólna ocena książek</h4>
                <p>2,8</p>
                <h4>Najwyżej oceniana książka:</h4>
                <p>yśyś ciuf, 3,5</p>
            </div>
        </div>
    </div>
</div>
<p>Lista książek autora</p>