@using io_book_project.ViewModels
@model BookPageViewModel
@{
    ViewData["Title"] = "Books Page";
}

<div class="album py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@Model.CoverImagePath" />
                </div>
            </div>
            <div class="col-md-8 text-left ps-5">
                <h2>@Model.Title ★★★★☆</h2>
                            
                @foreach (var author in Model.Authors)
                {
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="AuthorsPage" asp-route-id="@author.Id">
                        @author.Names @author.Surname
                        </a>
                        </li>
                    </ul>
                }
                            

                @if (@Model.Series != null && Model.Series!="")
                {
                    <p>Cykl: @Model.Series</p>
                }
                <p>
                    @foreach (var category in Model.Categories)
                    {
                        <p>@category.Name</p>
                    }
                </p>
                <br/>
                <h5>Dane szczegółowe:</h5>


                <p>Wydawnictwo: <a href="#">@Model.Publisher</a></p>

                <p>Język: @Model.Language</p> 
                @if (@Model.OriginalLanguage != null && Model.OriginalLanguage != "")
                {
                    <p>Język oryginału: @Model.OriginalLanguage</p>
                }
                @if (@Model.Translation != null && Model.Translation != "")
                {
                    <p>Język oryginału: @Model.Translation</p>
                }
                <p>Liczba stron: @Model.PageCount</p>

                <p>Rok wydania: @Model.PublicationYear.ToString("yyyy")</p>

                @(Model.FirstPublicationYear != null){
                <p>Rok pierwszego wydania: @Model.FirstPublicationYear</p>
                }
               
                <p>ISBN: @Model.ISBN</p>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p>@Model.Description</p>
            </div>
        </div>

    </div>
</div>

<p>Recenzje</p>