@using io_book_project.ViewModels
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http
@using io_book_project.Utils
@inject IAuthorizationService AuthorizationService
@model BookPageViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Books Page";
}

<div class="album py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@Model.CoverImagePath" />
                </div>
            </div>
            <div class="col-md-8 text-left ps-5">
                <h2>@Model.Title
                    @if (Context.Session.GetString(Const.LOGGED_USER) != null)
                    {
                        if(Model.AlreadyFavourite == false)
                        {
                            <a asp-controller="Home" asp-action="AddToFavourites" asp-route-id="@Model.Id" class="btn btn-primary" style="background-color: blue; border: none;">
                                <i class="bi bi-suit-heart"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="RemoveFromFavourites" asp-route-id="@Model.Id" class="btn btn-primary" style="background-color: blue; border: none;">
                                <i class="bi bi-heart-fill"></i>
                            </a>
                        }

                    }

                </h2>
 
                <h5>
                    @foreach (var author in Model.Authors)
                    {
                        <a href="#"><p>@author.Names @author.Surname</p></a>
                    }
                </h5>
                @if (@Model.Series != null && Model.Series!="")
                {
                    <p>Cykl: @Model.Series</p>
                }
                <p>
                    @foreach (var category in Model.Categories)
                    {
                        <p>@category.Name</p>
                    }
                </p>
                <br/>
                <h5>Dane szczegółowe:</h5>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="PublishersPage" asp-route-id="@Model.Publisher.Id">
                            <p>Wydawnictwo: @Model.Publisher.Name</p>
                            </a>
                        </li>
                    </ul>

                <p>Język: @Model.Language</p> 
                @if (@Model.OriginalLanguage != null && Model.OriginalLanguage != "")
                {
                    <p>Język oryginału: @Model.OriginalLanguage</p>
                }
                @if (@Model.Translation != null && Model.Translation != "")
                {
                    <p>Język oryginału: @Model.Translation</p>
                }
                <p>Liczba stron: @Model.PageCount</p>

                <p>Rok wydania: @Model.PublicationYear.ToString("yyyy")</p>

                <p>Rok pierwszego wydania: @Model.FirstPublicationYear</p>
                
               
                <p>ISBN: @Model.ISBN</p>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p>@Model.Description</p>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col md-4">
        @if(Model.Reviews.Count() > 0)
        {
            <p>Recenzje</p>
            <div class="row">
                <div class="col-md-4">
                    <table cellpadding="20">
                        <tr>
                            <th>Nazwa użytkownika</th>
                        </tr>
                        @foreach (var user in Model.UserReviews)
                        {
                            <tr>
                                <td><p>@user.UserName</p></td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-8">
                    <table cellpadding="20">
                        <tr>
                            <th>Recenzja</th>
                        </tr>
                        @foreach (var review in Model.Reviews)
                        {
                            <tr>
                                <td><p>@review.Text</p></td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
        else{
            <p>Brak recenzji do wyświetlenia</p>
        }
    </div>
    @if (Context.Session.GetString(Const.LOGGED_USER) != null && Context.Session.GetInt32(Const.USER_STATUS) != 1)
    {
        <div class="col md-4">
            <a asp-action="AddReview" asp-route-id="@Model.Id" class="btn btn-info" style="margin-right: 20px;">Napisz własną recenzję</a>
        </div>
    }
    
</div>