@model IEnumerable<io_book_project.Models.Publisher>
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Panel administratora";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1 class="text-muted px-2">Wydawnictwa</h1>
<hr class="divider mt-0">

<partial name="_pager" model="@pager" />

<div class="container" style="max-width:960px;">

    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="PublishingHouseList">
    </form>
</div>

<p>
    <a asp-action="AddAuthor" class="btn btn-primary"> <i class="fa-solid fa-circle-plus"></i>Dodaj</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Kraj
            </th>
            <th>
                Miasti
            </th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    <form asp-action="PublishingHouseDelete" asp-route-id="@item.Id" style="text-align: center;">
                        <div style="text-align: center;">
                            <a asp-action="PublishingHouseEdit" asp-route-id="@item.Id" class="btn btn-warning" style="margin-right: 20px;">
                                <i class="bi-pen"></i>
                            </a>
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć rekord?')">
                                <i class="bi-trash"></i>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>