@using io_book_project.ViewModels
@using Microsoft.AspNetCore.Http
@using io_book_project.Utils
@model UserPageViewModel
@{
    ViewData["Title"] = "User Page";
}

<div class="text-left ps-5">
    <h1 class="display-4">@User.Identity.Name</h1>
</div>

@if (Context.Session.GetInt32(Const.USER_STATUS) == 1)
{
    <div class="text-left ps-5">
        Konto zostało zablokowane!
    </div>
}

<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left ps-5">
                <h2>Moje ulubione książki</h2>
                <br>
                @foreach (var book in Model.FavouriteBooks)
                {
                    <p>
                        <a asp-controller="Home" asp-action="BookPage" asp-route-id="@book.Id">
                            @book.Title
                        </a>
                    </p>
                }
                <a asp-area="" asp-controller="User" asp-action="BooksList">
                    <h3>Więcej książek...</h3>
                </a>
                
            </div>
            <div class="col-md-6 text-left ps-5">
                <h2>Moje recenzje</h2>
                <br>
                @foreach (var review in Model.Reviews)
                {
                    <blockquote class="blockquote">
                        <p>
                            @{
                                string truncatedText = review.Text;
                                if (truncatedText.Length > 200)
                                {
                                    int lastIndex = truncatedText.LastIndexOf(' ', 200);
                                    truncatedText = truncatedText.Substring(0, lastIndex) + " [...]";
                                }
                                @truncatedText
                            }
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <a asp-controller="Home" asp-action="BookPage" asp-route-id="@review.BookId">
                            <cite title="@review.Book.Title">@review.Book.Title</cite>
                        </a>
                    </figcaption>
                    
                }
                <a asp-area="" asp-controller="User" asp-action="ReviewsList">
                    <h3>Więcej recenzji...</h3>
                </a>
            </div>
        </div>
    </div>
</div>